<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ rp }}/static/styles/index.css">
<link rel="stylesheet" type="text/css" href="{{ rp }}/static/styles/post.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main-content">
	<div class="heading">
		<h1>Laurie Write</h1>
		<p class="light">Quality writing on law and legal disputes</p>
		<hr class="large">
	</div>
	<div class="posts">
		<div class="post">
			<div class="post-heading">
				<h2 class="post-title">{{ post.title }}</h2>
				<span class="post-date light">{{ post.created|date:'M d, Y' }} ~
				{% if admin %}<span id="{{ post.id }}" class="edit light">Edit</span>{% endif %}
				</span>
				<ul class="tags">						
					{% for tag in post.tags.all %}
					<li><a href="{{ rp }}/tag/{{ tag.id }}/">{{ tag.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="post-content">
				<article>{{ post.content }}</article>
			</div>
			<hr class="mid">
		</div>
	</div>

	<!-- Comments -->
	<div class="comments">
		<div class="create-comment">
		{% if logged_in %}
			<form id="create-comment-form" onsubmit="return false;">
				<div class="form-group">
					<input type="hidden" id="user_id" value="{{ user.id }}">
					<input type="hidden" id="post_id" value="{{ post.id }}">
					<label for="new-comment-content">Add Your Comment</label>
					<p class="help-block">Must be less than 140 characters</p>
					<textarea id="new-comment-content" class="form-control"></textarea>
				</div>
				<button id="create-comment-btn" type="submit" class="btn btn-default">Create</button>
			</form>
		{% else %}
		</div>
		<div class="alert">
			<p>You must be <a href="../../accounts/login/">logged in</a> to create a comment</p>
		</div>
		{% endif %}
		{% if comments %}
			{% for comment in comments %}
			<div class="comment">
				<p class="comment-heading">{{ comment.user.username }} ~ {{ comment.created|date:'d/m/y' }}</p>
				<p class="comment-content">{{ comment.content }}</p>
			</div>
			{% endfor %}
		{% endif %}
	</div>

	<!-- Edit post -->
	<div id="edit-modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 id="edit-title" class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<textarea id="edit-content"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="edit-submit" type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>

<!-- Sidebar -->
<div id="sidebar">
</div>
<script type="text/javascript" src="{{ rp }}/static/scripts/index.js"></script>
<script type="text/javascript" src="{{ rp }}/static/scripts/comment.js"></script>
</body>
</html>